<h1> Listing Dojos </h1>
<%= flash[:success] %>
<table>
    <tr>
        <th>Coding Dojo Branch</th>
        <th> Street </th>
        <th> City </th>
        <th> State </th>
        <th> Actions </th>
    </tr>
    <% @dojos.each do |dojo| %>
    <tr>
        <td> <%= dojo.branch %> </td>
        <td> <%= dojo.street %> </td>
        <td> <%= dojo.city %> </td>
        <td> <%= dojo.satate %> </td>
        <td> <a href="/dojos/<%= dojo.id %>"> Show</a> | <a href="/dojos/<%= dojo.id %>/edit"> Edit </a> | <a href="/dojos/<%= dojo.id %>" data-method="delete"> Destroy</a>
    </tr>
    <% end %>    
</table>
<br><br>
<a href="/dojos/new"> New Dojo </a>