
<h1> <%= @dojo.branch %> Dojo </h1>
<br>
Address:<%= @dojo.street %>
<br>
City: <%= @dojo.city %> State: <%= @dojo.satate %>
<br><br>
<a href="/dojos"> Home </a> | <a href="/dojos/<%= @dojo.id %>/edit"> Edit </a>